body {
    margin: 0 auto;
    padding: 0 40px;
    width: 1200px;
    font-family: "PT Sans";
    text-transform: uppercase;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    position: relative;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.main-navigation {
    position: relative;
}

.main-navigation ul {
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    width: 265.5px;
}

.main-navigation a {
    display: block;
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 0px;
    text-align: center;
    color: black;
}

.main-navigation li:hover,
.main-navigation .active {
    background-color: #e2eff7;
    text-decoration: underline;
}

.main-navigation li:nth-child(2) {
    margin-right: 138px;
}

.main-navigation::before {
    background-image: url(../img/top-logo.png);
    position: absolute;
    display: block;
    height: 70px;
    width: 138px;
    content: "";
    background-repeat: no-repeat;    
    left: 531px;
}

header img {
    margin-bottom: 55px;
}

.title h2,
.title p {
    margin: 0;
    padding: 0;
}

.title h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}

.title p {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 55px;
    color: #7d7d7d;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.reason-text {
    width: 270px;
    background-color: #81b3d2;
    color: white;
    padding: 50px 65px;
    text-align: center;
    line-height: 21px;
}

.reason1-left {
    float: left;
}

.reason-text h2 {
    font-size: 21px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 24px;
}

.reason-text span,
.reason-text p {
    font-size: 14px;
}

.reason-text p {
    margin-top: 26px;
    margin-bottom: 0px;
}

.reason1-bottom {
    margin-top: -3px;
}

.reason1-bottom ul::after {
    content: "";
    display: table;
    clear: both;
}

.reason1-bottom li {
    float: left;
    width: 270px;
    text-align: center;
    padding: 85px 65px;
    padding-top: 160px;
}

.reason1-bottom li:first-child {
    background-image: url(../img/logo-home.png);
    background-repeat: no-repeat;
    background-position: top 60px center;
}

.reason1-bottom li:nth-child(2) {
    background-image: url(../img/logo-food.png);
    background-repeat: no-repeat;
    background-position: top 60px center;
}

.reason1-bottom li:last-child {
    background-image: url(../img/logo-presents.png);
    background-repeat: no-repeat;
    background-position: top 60px center;
}

.reason1-bottom h2 {
    font-size: 21px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 25px;
}

.reason1-bottom p {
    font-size: 14px;
    color: #7d7d7d;
    margin: 0;
}

.reason2-right {
    float: right;
}

.reason2-bottom {
    margin-top: -4px;
}

.reason2-bottom li {
    float: left;
    background-color: #eeeeee;
    color: black;
}

.reason2-bottom p,
.reason2-bottom span {
    color: #7d7d7d;
}

.interesting {
    padding: 52px 20px 134px 20px;
    text-align: center;
}

.interesting b {
    font-size: 30px;
    margin-bottom: 30px;
}

.interesting p {
    font-size: 14px;
    line-height: 24px;
    color: #7d7d7d;
}

footer {
    padding: 35px 0;
}

.footer>li {
    float: left;
    width: 400px;
    text-align: center;
}

.footer a {
    color: black;
}

.footer>li:first-child {
    font-size: 21px;
    font-weight: bold;
    margin-top: 10px;
}

.social-list li {
    float: left;
    margin-right: 6px;
}

.social-list a {
    height: 48px;
    width: 46px;
    display: block;
}

.social-list {
    margin: 0 auto;
}

.social-list li:first-child {
    background-image: url(../img/tw-logo.png);
}

.social-list li:nth-child(2) {
    background-image: url(../img/fb-logo.png);
}

.social-list li:last-child {
    margin-right: 0px;
    background-image: url(../img/yb-logo.png);
}

.social-list li a:hover {
    background-color: rgba(0, 49, 255, 0.66);
}

.footer>li:last-child {
    margin-top: 15px;
    margin-left: -50px;
    position: relative;
}

.footer>li:last-child img {
    position: absolute;
    top: -9px;
    right: 30px;
}

.search {
    position: absolute;
    bottom: 323px;
    left: 356px;
    width: 568px;
    background-color: white;
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
}

.search h2 {
    font-size: 21px;
    background-color: #766357;
    color: white;
    text-align: center;
    margin: 0;
    padding: 30px 0;
}

.search-form {
    padding: 55px;
}

input {
    padding: 6px 10px;
    background-color: #f2f2f2;
    border: none;
    margin-bottom: 29px;
}

input[type="date"] {
    width: 346px;
    padding-right: 38px;
}

.input-counts input {
    width: 114px;
}

.search-form input[type="submit"] {
    width: 458px;
    font-size: 21px;
    color: white;
    background-color: #81b3d2;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
    margin-bottom: 0;
}

.filter {
    background-color: rgba(1,1,1,0.4);
    padding: 25px 70px;
    width: 1060px;
}

.filter-col {
    float: left;
    color: white;
    margin-right: 110px;
}

.filter-col:last-child {
    float: right;
}

.filter-col h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}

.filter-list a {
    font-size: 14px;
    line-height: 21px;
    color: white;
    padding-left: 40px;
    margin-bottom: 25px;
}